#blue-box {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
}

.child {
  background-color: red;
  position: absolute;
}
#horizontal-line {
  width: 100%;
  height: 10px;
  top: 20%;
}
#vertical-line {
  width: 10px;
  height: 100%;
  left: 15%;
}
